body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
 }

 h2 {
    color: #008080;
 }

 h3 {
    color: #006400;
 }

 p {
    color: #666;
 }

 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
 }

 th,
 td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
 }

 th {
    background-color: #f2f2f2;
 }

 ul {
    list-style-type: none;
    padding: 0;
 }

 ul li {
    margin-bottom: 10px;
 }

 .call-button {
    background-color: #007bff;
    /* Change the background color as needed */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    animation: buttonAnimation 0.75s ease-in-out infinite;
    /* Add animation to the button by default */

 }

 .phone-icon {
    width: 20px;
    /* Adjust the size of the phone icon as needed */
    height: 20px;
    margin-right: 0px;
    /* Add margin for spacing */
 }

 @keyframes buttonAnimation {
    0% {
       transform: scale(1);
    }

    50% {
       transform: scale(1.1);
    }

    100% {
       transform: scale(1);
    }
 }

 .call-button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #3498db;
    /* You can adjust the background color */
    color: #fff;
    /* You can adjust the text color */
    border: none;
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 80px
 }


 .phone-icon {
    width: 20px;
    /* You can adjust the icon size */
    height: 20px;
    margin-right: 5px;
    /* Adjust the margin to provide space between icon and number */
 }

 .phone-number {
    font-size: 18px;
    /* Adjust the font size */
 }

 .chat_to_hb {
   position: fixed;
   bottom: 80px;
   right: 20px;
   z-index: 999;

}

.chat_to_hb a {
   display: block;
   /* background-color: #25D366; */
   padding: 10px;
   border-radius: 50%;
}

.chat_to_hb img {
   width: 100px;
   /* border-radius: 50%; */
}
